Repository accesso-app/frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --parser json

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,mjs}": ["eslint --fix"],
  "{*.json,.prettierrc,.lintstagedrc,.eslintrc}": [
    "prettier --write --parser json"
  ]
}

chore: change port (#21)
  .env.sample
Due: none

feat(profile): adds profile edit page
  package.json
  src/features/navigation/index.ts
  src/features/navigation/lib/effector-ssr-redirect.ts
  src/features/navigation/lib/index.ts
  src/features/session/model.ts
  src/globals.ts
  src/pages/access-recovery/confirm/model.ts
  src/pages/access-recovery/confirm/page.tsx
  src/pages/access-recovery/model.ts
  src/pages/access-recovery/page.tsx
  src/pages/home/page.tsx
  src/pages/login/page.tsx
  src/pages/paths.ts
  src/pages/routes.ts
  src/pages/settings/index.ts
  src/pages/settings/model.ts
  src/pages/settings/page.tsx
  src/pages/settings/profile/index.ts
  src/pages/settings/profile/model.ts
  src/pages/settings/profile/page.tsx
  src/pages/settings/profile/types.ts
  yarn.lock
Due: eslint --fix, prettier --write --parser json

chore(comment): comment for ssr redirect
  src/features/navigation/lib/effector-ssr-redirect.ts
Due: eslint --fix

feat(profile change): adds form for changing email
  src/lib/sleep.ts
  src/pages/access-recovery/confirm/page.tsx
  src/pages/access-recovery/page.tsx
  src/pages/login/page.tsx
  src/pages/paths.ts
  src/pages/settings/emails/index.ts
  src/pages/settings/emails/model.ts
  src/pages/settings/emails/page.tsx
  src/pages/settings/emails/types.ts
  src/pages/settings/page.tsx
  src/pages/settings/profile/model.ts
  src/pages/settings/profile/page.tsx
  src/pages/settings/profile/types.ts
Due: eslint --fix

chore: regenerate certs with mkcert
  scripts/create-certs.sh
  tls/accesso.crt
  tls/accesso.key
Due: none

feat: upgrade nodejs to 16.6
  Dockerfile
  package.json
Due: prettier --write --parser json

fix: handle unhandled rejections
  src/server.tsx
Due: eslint --fix

feat: upgrade typescript and effector
  yarn.lock
Due: none

fix: typescript errors with new effector
  src/pages/access-recovery/confirm/model.ts
  src/pages/access-recovery/model.ts
Due: eslint --fix

fix: sample config, to fix no static files
  .env.sample
Due: none

fix: server proxy middleware
  .husky/commit-msg
  .husky/pre-commit
  src/server.tsx
Due: eslint --fix

feat: add query params for accesso-app's login page feat: add oauth/oauthorize params
  .env.sample
  README.md
  package.json
  razzle.config.js
  src/api/request/common.ts
  src/api/request/server.ts
  src/client.tsx
  src/features/navigation/index.ts
  src/features/oauth/index.ts
  src/features/session/model.ts
  src/pages/login/model.ts
  src/pages/login/page.tsx
  src/pages/oauth/authorize/model.ts
  src/server.tsx
  yarn.lock
Due: eslint --fix, prettier --write --parser json

feat: add query params for accesso-app's login page feat: add oauth/oauthorize params
  .env.sample
Due: none

ACC-39 Вход через Accesso (#23)
  .env.sample
  README.md
  package.json
  razzle.config.js
  src/api/request/common.ts
  src/api/request/server.ts
  src/client.tsx
  src/features/navigation/index.ts
  src/features/oauth/index.ts
  src/features/session/model.ts
  src/pages/login/model.ts
  src/pages/login/page.tsx
  src/pages/oauth/authorize/model.ts
  src/server.tsx
  yarn.lock
Due: eslint --fix, prettier --write --parser json

refactor(pages/register): model to linear script
  src/pages/register/model.ts
  yarn.lock
Due: eslint --fix

refactor(pages/register): move clock upper to improve readability
  src/pages/register/model.ts
Due: eslint --fix

feat: remove direct registration, add links to telegram chats
  razzle.config.js
  src/pages/register/confirm/index.tsx
  src/pages/register/index-disabled.tsx
  src/pages/register/index.tsx
Due: eslint --fix

feat: hide password recovery
  src/pages/login/page.tsx
  src/pages/paths.ts
  src/pages/routes.ts
Due: eslint --fix

feat(pages/register): improve text on register page
  src/client.tsx
  src/pages/register/index.tsx
  src/pages/register/model.ts
Due: eslint --fix

refactor(pages/home): slightly improve contract
  src/pages/home/page.tsx
Due: eslint --fix

fix: comment out unused imports
  src/pages/routes.ts
Due: eslint --fix

fix: small fix (todo: understand what's going on :))
  src/pages/settings/profile/page.tsx
Due: eslint --fix

feat: show actual email at home page, hide social buttons
  src/api/index.ts
  src/features/session/model.ts
  src/pages/home/model.ts
  src/pages/home/page.tsx
Due: eslint --fix

refactor: upgrade to effector v22
  .babelrc
  babel.config.js
  openapi.config.js
  package.json
  src/api/index.ts
  src/api/request/common.ts
  src/application.tsx
  src/client.tsx
  src/features/navigation/index.ts
  src/features/oauth/index.ts
  src/features/session/model.ts
  src/lib/bus.ts
  src/lib/contract/readme.md
  src/lib/page-routing.ts
  src/pages/access-recovery/confirm/model.ts
  src/pages/access-recovery/confirm/page.tsx
  src/pages/access-recovery/model.ts
  src/pages/access-recovery/page.tsx
  src/pages/home/model.ts
  src/pages/home/page.tsx
  src/pages/login/model.ts
  src/pages/login/page.test.tsx
  src/pages/login/page.tsx
  src/pages/oauth/authorize/model.ts
  src/pages/oauth/authorize/page.tsx
  src/pages/register/confirm/index.tsx
  src/pages/register/confirm/model.ts
  src/pages/register/index-disabled.tsx
  src/pages/register/model.ts
  src/server.tsx
  yarn.lock
Due: eslint --fix, prettier --write --parser json

fix(pages/register): add red color for failures
  src/pages/register/confirm/index.tsx
Due: eslint --fix

feat: improve registration script
  src/pages/login/page.tsx
  src/pages/register/confirm/index.tsx
  src/pages/register/confirm/model.ts
  src/pages/register/index.tsx
  src/pages/register/model.ts
Due: eslint --fix

chore: fix labels
  src/pages/register/confirm/index.tsx
  src/pages/register/index-disabled.tsx
Due: eslint --fix

feat: add statuspage marker
  src/server.tsx
Due: eslint --fix

ci: add making docker image on tag creating
  .github/workflows/docker-image.yml
Due: none

0.4.0
  package.json
Due: prettier --write --parser json

refactor(api): move to shared
  openapi.config.js
  package.json
  src/app/server.tsx
  src/features/navigation/index.ts
  src/features/session/model.ts
  src/pages/access-recovery/confirm/model.ts
  src/pages/access-recovery/model.ts
  src/pages/home/model.ts
  src/pages/login/model.ts
  src/pages/oauth/authorize/model.ts
  src/pages/register/confirm/model.ts
  src/pages/register/model.ts
  src/shared/api/index.ts
  src/shared/api/request/client.ts
  src/shared/api/request/common.ts
  src/shared/api/request/index.ts
  src/shared/api/request/server.ts
Due: eslint --fix, prettier --write --parser json

chore: enable jit in tailwind
  src/app/application.css
  src/app/application.tsx
  tailwind.config.js
Due: eslint --fix

feat: show beautiful help what address to use
  src/index.ts
Due: eslint --fix

refactor: move ui to shared
  package.json
  razzle.config.js
  src/pages/access-recovery/confirm/page.tsx
  src/pages/access-recovery/page.tsx
  src/pages/login/page.tsx
  src/pages/register/confirm/index.tsx
  src/pages/register/index-disabled.tsx
  src/pages/register/index.tsx
  src/shared/ui/index.ts
  src/shared/ui/templates/center-card.tsx
  src/shared/ui/templates/index.ts
  tsconfig.json
Due: eslint --fix, prettier --write --parser json

fix: build due invalid types
  .eslintignore
  src/features/session/model.ts
  src/shared/api/index.ts
Due: eslint --fix

refactor: move lib to shared
  .prettierrc
  src/app/client.tsx
  src/app/server.tsx
  src/pages/access-recovery/confirm/index.ts
  src/pages/access-recovery/confirm/model.ts
  src/pages/access-recovery/confirm/page.tsx
  src/pages/access-recovery/index.ts
  src/pages/access-recovery/model.ts
  src/pages/access-recovery/page.tsx
  src/pages/home/index.ts
  src/pages/home/model.ts
  src/pages/home/page.tsx
  src/pages/login/index.old.ts
  src/pages/login/index.ts
  src/pages/login/model.ts
  src/pages/login/page.tsx
  src/pages/oauth/authorize/index.ts
  src/pages/oauth/authorize/model.ts
  src/pages/oauth/authorize/page.tsx
  src/pages/register/confirm/index.tsx
  src/pages/register/confirm/model.ts
  src/pages/register/index-disabled.tsx
  src/pages/register/index.tsx
  src/pages/register/model.ts
  src/shared/lib/branch.tsx
  src/shared/lib/bus.ts
  src/shared/lib/contract/contract.test.ts
  src/shared/lib/contract/index.ts
  src/shared/lib/contract/readme.md
  src/shared/lib/email.ts
  src/shared/lib/errors.ts
  src/shared/lib/input.ts
  src/shared/lib/page-routing.ts
  src/shared/lib/password.ts
  src/shared/lib/typed.ts
Due: eslint --fix, prettier --write --parser json

refactor: move logo to shared/assets
  src/pages/access-recovery/confirm/page.tsx
  src/pages/access-recovery/page.tsx
  src/pages/login/page.tsx
  src/pages/register/confirm/index.tsx
  src/pages/register/index-disabled.tsx
  src/pages/register/index.tsx
  src/shared/assets/logo.svg
Due: eslint --fix

refactor(pages/login): improve UX and UI, fix error showing
  .eslintrc.json
  package.json
  src/pages/login/index.old.ts
  src/pages/login/model.ts
  src/pages/login/page.tsx
  src/pages/login/types.ts
  src/shared/design/button.tsx
  src/shared/design/field.tsx
  src/shared/design/index.ts
  src/shared/design/input.tsx
  src/shared/design/typography.tsx
  tailwind.config.js
  yarn.lock
Due: eslint --fix, prettier --write --parser json

refactor(app): remove need of globals in styled
  src/app/application.css
  src/app/application.tsx
  src/app/globals.ts
Due: eslint --fix
