Repository accesso-app/frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --parser json

chore(pages): slighly improve design for register and login pages
  src/pages/login/page.tsx
  src/pages/register/index.tsx
  src/shared/ui/templates/center-card.tsx
Due: eslint --fix

chore(app): make whole bg gray
  src/app/server.tsx
Due: eslint --fix

refactor(pages/login): move start only to a model
  src/pages/login/index.ts
  src/pages/login/model.ts
  src/pages/login/page.tsx
Due: eslint --fix

refactor(pages/register): redesign register forms WIP
  src/pages/login/page.tsx
  src/pages/register/index-disabled.tsx
  src/pages/register/index.old.tsx
  src/pages/register/index.ts
  src/pages/register/model.ts
  src/pages/register/page.tsx
  src/shared/design/accesso-card.tsx
  src/shared/design/button.tsx
  src/shared/design/index.ts
  src/shared/design/typography.tsx
  tailwind.config.js
  tsconfig.json
Due: eslint --fix, prettier --write --parser json

fix(pages/register): invite should be cleaned after entering
  src/pages/register/index.old.tsx
  src/pages/register/model.ts
  src/pages/register/page.tsx
Due: eslint --fix

fix: design issues
  .eslintignore
  src/pages/register/page.tsx
  src/shared/design/button.tsx
  src/shared/design/typography.tsx
  tailwind.config.js
Due: eslint --fix

fix(pages/register): move to confirmation page
  src/pages/register/confirm/index.ts
  src/pages/register/confirm/page.tsx
Due: eslint --fix

feat(shared/ui): add failure text component
  src/pages/login/page.tsx
  src/pages/register/page.tsx
  src/shared/design/failure-text.tsx
  src/shared/design/index.ts
Due: eslint --fix

chore(shared/ui): improve input and centered template
  src/shared/design/input.tsx
  src/shared/ui/templates/center-card.tsx
  tailwind.config.js
Due: eslint --fix

fix(pages/register): do not clear invite before continue
  src/pages/register/model.ts
Due: eslint --fix

feat(page/register/confirm): fully rewrite component WIP
  package.json
  src/pages/register/confirm/index.old.tsx
  src/pages/register/confirm/model.ts
  src/pages/register/confirm/page.tsx
  src/shared/design/failure-text.tsx
  src/shared/design/field.tsx
  yarn.lock
Due: eslint --fix, prettier --write --parser json

fix(lib/page-routing): factories for effector
  babel.config.js
Due: eslint --fix

fix(feature/navigation): allow to correctly work with scope on the client
  package.json
  src/app/client.tsx
  src/app/server.tsx
  src/features/navigation/index.ts
Due: eslint --fix, prettier --write --parser json

feat(lib/page-routing): add $params and $query
  src/shared/lib/page-routing.ts
Due: eslint --fix

refactor(pages/login): to use sample and start.$query
  src/pages/login/model.ts
Due: eslint --fix

refactor(pages/register/confirm): fully rewrite interface
  src/pages/register/confirm/index.old.tsx
  src/pages/register/confirm/model.ts
  src/pages/register/confirm/page.tsx
  src/shared/design/typography.tsx
Due: eslint --fix

fix(features/navigation): allow to push with params correctly
  src/features/navigation/index.ts
Due: eslint --fix

fix(pages/register/confirm): remove unused code
  src/pages/register/confirm/model.ts
Due: eslint --fix

refactor: move paths to shared
  package.json
  src/app/server.tsx
  src/features/navigation/index.ts
  src/features/oauth/index.ts
  src/features/session/model.ts
  src/pages/login/model.ts
  src/pages/login/page.test.tsx
  src/pages/login/page.tsx
  src/pages/oauth/authorize/model.ts
  src/pages/register/confirm/page.tsx
  src/pages/register/index-disabled.tsx
  src/pages/register/model.ts
  src/pages/register/page.tsx
  src/pages/routes.ts
  src/shared/paths.ts
Due: eslint --fix, prettier --write --parser json

feat: upgrade effector
  package.json
  yarn.lock
Due: prettier --write --parser json

feat: add default footer component
  src/pages/home/page.tsx
  src/pages/login/page.tsx
  src/pages/register/confirm/page.tsx
  src/pages/register/page.tsx
  src/shared/design/accesso-card.tsx
  src/shared/design/default-footer.tsx
  src/shared/design/index.ts
Due: eslint --fix

refactor(pages/home): to a tw with correct design
  src/pages/home/page.tsx
  src/pages/login/page.tsx
  src/shared/design/button.tsx
  src/shared/design/typography.tsx
Due: eslint --fix

feat: upgrade typescript
  package.json
  yarn.lock
Due: prettier --write --parser json

feat: upgrade patronum with razzle
  babel.config.js
  package.json
  src/pages/home/model.ts
  yarn.lock
Due: eslint --fix, prettier --write --parser json

refactor(pages/home): move start to an index file
  src/pages/home/index.ts
  src/pages/home/model.ts
  src/pages/home/page.tsx
Due: eslint --fix

chore: upgrade prettier imports sort
  .prettierrc
  package.json
  yarn.lock
Due: prettier --write --parser json

chore(pages/home): slightly optimize code
  src/pages/home/model.ts
Due: eslint --fix

feat(pages/home): add list of applications
  src/pages/home/model.ts
  src/pages/home/page.tsx
  src/pages/home/types.ts
  src/shared/api/index.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx,mjs}
  prettier --write --parser json: any of: {*.json,.prettierrc,.lintstagedrc,.eslintrc}
