Repository accesso-app/frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --write --parser json

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,mjs}": ["prettier --write", "git add"],
  "{*.json,.prettierrc,.lintstagedrc,.eslintrc}": [
    "prettier --write --parser json",
    "git add"
  ]
}

chore(config): set up eslint-kit
  .eslintignore
  .eslintrc.js
  package.json
  yarn.lock
Due: prettier --write, prettier --write --parser json

chore(config): eslint - ignore generated api
  .eslintignore
Due: none

chore(config): eslint - disable sonarjs/no-duplicate-string
  .eslintrc.js
Due: prettier --write

style(repo): auto-fixed format issues
  src/api/request/client.ts
  src/api/request/common.ts
  src/api/request/server.ts
  src/index.ts
  src/lib/input.ts
  src/lib/password.ts
  src/pages/access-recovery/confirm/model.ts
  src/pages/access-recovery/confirm/page.tsx
  src/pages/access-recovery/model.ts
  src/pages/access-recovery/page.tsx
  src/pages/home/index.ts
  src/pages/login/index.ts
  src/pages/login/page.test.tsx
  src/pages/oauth/authorize/model.ts
  src/pages/register/confirm/model.ts
Due: prettier --write

chore(config): eslint - disable no-console
  .eslintrc.js
Due: prettier --write

chore(config): eslint - disable t@typescript-eslint/no-non-null-assertion
  .eslintrc.js
Due: prettier --write

style(repo): eslint manual format
  src/api/request/common.ts
  src/api/request/resource.ts
  src/application.tsx
  src/index.ts
  src/lib/branch.tsx
  src/lib/bus.ts
  src/lib/contract/index.ts
  src/lib/email.ts
  src/lib/page-routing.ts
  src/pages/access-recovery/confirm/index.ts
  src/pages/access-recovery/index.ts
  src/pages/home/model.ts
  src/pages/login/index.old.ts
  src/pages/login/index.ts
  src/pages/login/page.tsx
  src/pages/register/confirm/index.tsx
  src/pages/register/confirm/model.ts
  src/server.tsx
Due: prettier --write

chore(dependencies): remove npm-run-all (not used)
  package.json
  yarn.lock
Due: prettier --write --parser json

chore(config): add lint script
  package.json
Due: prettier --write --parser json

chore(dependencies): update lint-staged
  .lintstagedrc
  package.json
  yarn.lock
Due: prettier --write --parser json

chore(dependencies): update caniuse-lite db
  yarn.lock
Due: none

chore(config): format generated api using prettier
  package.json
Due: prettier --write --parser json

chore(dependencies): update prettier to v3.0.0
  package.json
  yarn.lock
Due: prettier --write --parser json

style(repo): format using the new prettier version
  src/api/request/resource.ts
  src/lib/contract/index.ts
  src/lib/email.ts
  src/lib/errors.ts
  src/lib/typed.ts
  src/pages/register/confirm/model.ts
  src/pages/register/model.ts
  src/server.tsx
Due: prettier --write

refactor(api): completely replace resources with generated api
  src/api/oauth.ts
  src/api/register.ts
  src/api/request/index.ts
  src/api/request/resource.ts
  src/api/session.ts
  src/features/session/model.ts
  src/pages/oauth/authorize/model.ts
  src/pages/register/confirm/model.ts
  src/pages/register/model.ts
Due: prettier --write

fix: wt?
  .gitignore
  package.json
  src/pages/access-recovery/confirm/page.tsx
  src/pages/register/index.ts
  src/pages/register/index.tsx
  src/pages/register/page.tsx
  src/pages/register/types.ts
Due: prettier --write, prettier --write --parser json

feat: allow any node version
  .gitignore
  package.json
Due: prettier --write --parser json

ci: add linear linker
  .github/workflows/linear-linker.yml
Due: none

ci: fix name of job in linear-linker
  .github/workflows/linear-linker.yml
Due: none

ci(linear-linker): use master version
  .github/workflows/linear-linker.yml
Due: none

ci(linear-linker): use v0
  .github/workflows/linear-linker.yml
Due: none

feat: acc-67
  .github/workflows/linear-linker.yml
  demo
Due: none

feat: react on reviuew_requested
  .github/workflows/linear-linker.yml
Due: none

feat: Add user profile page
  src/features/session/index.ts
  src/pages/home/model.ts
  src/pages/home/page.tsx
Due: prettier --write

fix: Feature branch prefix in template
  .github/pull_request_template.md
Due: none

fix: response with empty body
  src/api/request/client.ts
Due: prettier --write

feat: Add logout button
  src/features/session/model.ts
  src/pages/home/index.ts
  src/pages/home/model.ts
  src/pages/home/page.tsx
Due: prettier --write

feat: Add error message for session logout
  src/features/session/model.ts
  src/pages/home/model.ts
  src/pages/home/page.tsx
Due: prettier --write

fix: get rid of extra api import
  src/pages/home/model.ts
Due: prettier --write

Delete linear-linker.yml
  .github/workflows/linear-linker.yml
Due: none

Create linear-linker.yml
  .github/workflows/linear-linker.yml
Due: none

test: check login form submitting by enter key press
  package.json
  src/pages/login/page.test.tsx
  yarn.lock
Due: prettier --write, prettier --write --parser json

test: check login form submitting by enter key press (#19)
  package.json
  src/pages/login/page.test.tsx
  yarn.lock
Due: prettier --write, prettier --write --parser json

ci(linear-linker): all works as is
  .github/workflows/linear-linker.yml
Due: none

fix: hot commit - error handler and update effector
  .gitignore
  package.json
  src/server.tsx
  yarn.lock
Due: prettier --write, prettier --write --parser json

fix: remove vscode
  .vscode/settings.json
Due: prettier --write --parser json

feat(login page): adds page /accesso/done
  src/api/request/common.ts
  src/features/session/model.ts
  src/globals.ts
  src/lib/contract/readme.md
  src/pages/access-recovery/confirm/model.ts
  src/pages/access-recovery/model.ts
  src/pages/home/page.tsx
  src/pages/login/model.ts
  src/pages/login/page.tsx
  src/pages/oauth/accesso-done/index.ts
  src/pages/oauth/accesso-done/model.ts
  src/pages/oauth/accesso-done/page.ts
  src/pages/oauth/page.tsx
  src/pages/paths.ts
  src/pages/register/confirm/index.tsx
  src/pages/routes.test.ts
  src/pages/routes.ts
Due: prettier --write

feat: Add query params for accesso-app's login page
  package.json
  src/application.tsx
  src/features/oauth/index.ts
  src/features/session/model.ts
  src/pages/login/model.ts
  src/pages/login/page.tsx
  src/pages/oauth/authorize/model.ts
  src/pages/oauth/authorize/page.tsx
  src/pages/paths.ts
  yarn.lock
Due: prettier --write, prettier --write --parser json

chore: change port
  .env.sample
Due: none

feat: Redirect from login to oauth authorize with query params
  package.json
  src/application.tsx
  src/features/oauth/index.ts
  src/features/session/model.ts
  src/pages/login/model.ts
  src/pages/oauth/authorize/model.ts
  src/pages/oauth/authorize/page.tsx
  src/pages/paths.ts
  yarn.lock
Due: prettier --write, prettier --write --parser json
